.todoForm {
  width: 100%;
  margin-bottom: 1rem;

  &__input {
    outline: none;
    background: transparent;
    border-radius: 5px 0 0 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 300px;
    color: #fff;

    &::placeholder {
      color: #ffffffdd;
    }
  }

  &__btn {
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    outline: none;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    &:active {
      transform: scale(0.96);
    }
  }
}
