$bg-color: #081b29;
$second-bg-color: #112e42;
$text-color: #ededed;
$second-bg-color: #ffffff;
$violet-bg: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
$alive-bg: linear-gradient(to right, #bd3f32, #d02187);
$summer-bg: linear-gradient(to right, #da990e, #22c1c3);
$hydrogen-bg: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
$moon-purple-bg: linear-gradient(to right, #8f94fb, #4e54c8);
$citrus-peel-bg: linear-gradient(to right, #f37335, #fdc830);
$violet-border: #5d0cff;
$alive-border: #bd3f99;
$summer-border: #fdbb2d;
$hydrogen-border: #667db6;
$moon-purple-border: #8f94fb;
$citrus-peel-border: #f37335;
$violet-color: rgba(155, 0, 250, 1);
$alive-color: rgb(197, 39, 8);
$summer-color: rgb(143, 157, 18);
$hydrogen-color: rgb(26, 74, 194);
$moon-purple-color: rgb(83, 92, 255);
$citrus-peel-color: rgb(219, 117, 15);
$violet-success: #c5aeff;
$alive-success: #fa9696dd; 
$summer-success: #f0ff7e;
$hydrogen-success: #c9d7fa;
$moon-purple-success: #bec2ff;
$citrus-peel-success: #fed1a4e7;